.footer_superior {
  margin-top: 4.875rem;
  padding-right: 6.0625rem;
  padding-left: 4.125rem;
}

.footer_superior_social{
  color: #fff;
  margin-bottom: 1rem;
  font-size: 24px;
}

.footer_superior_social i{
  margin-right: .9375rem;
}

.footer_container_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: #808080;
  font-size: .8125rem;
}

.footer_container_grid_p p{
  margin-bottom: 1rem;
}

.footer_button{
  background-color: transparent;
  color: #808080;
  border: solid 1px #808080;
  padding: 0.5rem;
  font-family: Helvetica, sans-serif;
}

.footer_development {
  font-size: 12px;
  color: #fff;
  padding: 5vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.linkFooter {
  text-decoration: none;
  color: #fff;
}

.linkFooter:hover {
  background-color: black;
}

#footer {
  font-size: 14px;
}

.linkFooter {
  text-decoration: none;
}

.linkFooter:hover {
  background-color: grey;
  color: #000;
}

.heart {
  font-size: 16px;
  cursor: pointer;
  animation-name: heart;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes heart {
  0% {
    color: red;
  }
  25% {
    color: rgb(183, 11, 163);
  }
  50% {
    color: #fff;
  }
  100% {
    color: red;
  }
}
